repos:
- repo: https://github.com/psf/black
  rev: 19.10b0
  hooks:
  - id: black
- repo: https://github.com/humitos/mirrors-autoflake
  rev: v1.1
  hooks:
  - id: autoflake
    args: [
      --in-place,
      --remove-all-unused-imports,
      --remove-unused-variable,
    ]
- repo: https://github.com/asottile/add-trailing-comma
  rev: v1.5.0
  hooks:
  - id: add-trailing-comma
    args: [--py36-plus]
- repo: https://github.com/asottile/pyupgrade
  rev: v1.26.2
  hooks:
  - id: pyupgrade
    args: [--py37-plus]
- repo: https://github.com/asottile/reorder_python_imports
  rev: v1.9.0
  hooks:
  - id: reorder-python-imports
    args: [--py37-plus]
- repo: https://github.com/PyCQA/flake8
  rev: 3.7.9
  hooks:
  - id: flake8
    additional_dependencies: [
      flake8-annotations,
      flake8-black,
      flake8-deprecated,
      flake8-fixme,
      flake8-pytest,
      flake8-todo,
      flake8-unused-arguments,
      wemake-python-styleguide,
    ]
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v2.4.0
  hooks:
  - id: end-of-file-fixer
  - id: mixed-line-ending
    args: [--fix=lf]
  - id: no-commit-to-branch
  - id: trailing-whitespace
default_language_version:
  python: python3.7
